@import '../mixin/mixin.scss';
@import '../fonction/fonction.scss';
@import '../variables/varaibles.scss';

button,a{
    font-family: $fontfam;
    list-style: none;
    text-decoration: none;
    color: black;
}


.navbtn{
    @include btnbasic;
    width: 100%;  
    height: 100% 
}

.navbtn2{
    @include btnbasic;
    border:  $bordersize;
    width: 90%; 
    height: 100%;  
    padding-top: 0 !important;
}

#accueil{
    display: flex;
}

#comm{
    display: none;
}

.orgaimg{
    height: 200px;
    width: 200px;
}

.insbtn{
    margin: 0 auto 0  auto;
    @include btnbasic;
    width: 100px;
    height: 30px;
    border-radius: $borderrad;
    border: $bordersize;
    text-align: center;
    padding-top: 0 !important;
    margin-top: 10px;
}

/*version tablette*/

@media screen and (max-width: 1024px){
    .logbtn{
        width: 20%;
    }
}

/*version mobile*/

@media screen and (max-width: 720px){
    .logbtn{
        width: 25%;
    }
}